.dialog-container {
    border: 2px solid #34db34;
    /* Couleur et épaisseur de la bordure */
    border-radius: 10px;
    /* Arrondir les coins de l'élément */
    padding: 20px;
    /* Espace à l'intérieur de l'élément */
    width: 300px;
    /* Largeur de l'élément */
    margin: 0 auto;
    /* Centrer l'élément horizontalement */
    text-align: center;
    /* Centrer le texte à l'intérieur */
}

.dialog-title {
    font-size: 18px;
    /* Taille de la police du titre */
    color: #34db34;
    /* Couleur du texte du titre */
}